<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>resources/Jump1.wav</key>
		<string>resources/Jump1.caf</string>
		<key>resources/Jump2.wav</key>
		<string>resources/Jump2.caf</string>
		<key>resources/hit.wav</key>
		<string>resources/hit.caf</string>
		<key>resources/hitSun.wav</key>
		<string>resources/hitSun.caf</string>
		<key>resources/mountainCreation.wav</key>
		<string>resources/mountainCreation.caf</string>
		<key>resources/mountainDestruction.wav</key>
		<string>resources/mountainDestruction.caf</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
